marquee {
  background-color: blue;
  color: gold;
}
html {
  background: url(http://vignette3.wikia.nocookie.net/metroid/images/1/1d/Metroid_Est%C3%A1ndar_en_Super_Metroid.png/revision/latest?cb=20110409195642&path-prefix=es);
  background-size: 100% 100%;
}
